<!-- disease_search.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mustafa">
    <link rel="stylesheet"  type="text/css" href="{%static 'main/search.css'%}">
    <link rel="icon" href="{%static 'main/icon.png'%}">
    <title>SearchPanel</title>
    
</head>
<body>

    <h1>
        <figure>
            <img src="{%static 'main/search.png'%}">Search Results
        </figure>
    </h1>
    <section>

    {% for disease in diseases %}

        <ul>

            <li>
                <h2><a href="{% url 'disease' disease.id %}">
                    {{ disease.name }}
                </a></h2>
                 <p> {{ disease.description }}</p>
            </li>
        {% empty %}
            <li>No diseases found.</li>
        {% endfor %}

    </ul>
</body>
</html>
