<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample</title>
    <link rel="stylesheet" href="styl.css">
</head>
<body>
    <header class="disease_name">
        <h1>Disease1</h1>
    </header>

    <article class="article1">
        <section class="section1">
        <div class="symtoms">
           <h2>symtoms</h2> 
           <p>hello</p>
        </div>
        </section>
    <section class="section2">
        <div class="causes">
            <h2>causes</h2> 
            <p>hell</p>
        </div>
    </section>
    <section class="section3">
        <div class="types">
            <h2>Types</h2>
            <p>heloo</p>
        </div>
    </section>
</article>

<article class="article2">
    <section class="section4">
    <div class="precaution">
       <h2>precaution</h2> 
       <p>hello</p>
    </div>
    </section>
<section class="section5">
    <div class="ayurved">
        <h2>Ayurvedic remidies</h2> 
        <p>hell</p>
    </div>
</section>
</article>
<div class="link"><h2>links</h2>
    <p><a href="https://www.youtube.com/">youtube</a></p>

</div>
</body>
</html>