{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayurveda</title>
    <link rel="stylesheet" type="text/css" href="{%static 'main/style.css'%}">

</head>

<body>
    <header class="header"> 
        
        <h1  class="header__h1">
            <img src="images/ayurveda_3063202.png" class="ayu-item">
           <a href="/" class="header__a">AYURVEDA</a>
        </h1>
  <!-- nav bar -->
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a href="#about"> &#128222; Contact us</a>
                </li>
                <li>
                    <a href="#about">&#9993; Our E-Mail</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <div class="search">
                    <input type="text" placeholder="Search" spellcheck="false">
                    <button class="button"><img src="images/search.png"></button>
                  </div>

                
            </ul> 
        </nav>
       
    </header>
    

    <main class="main">
        <!-- adding image -->
        <figure class="main__fig">
            <img src="img_1_bg.png" alt="Background Image" width="858" height="515" class="main__img" id="img__1">
        </figure>

    </main>
    <section>
        <h2>
        body parts
        </h2>
        <ul>
            <li>
                <a>eyes</a>
            </li>
        </ul>
    </section>
</body>

</html>