<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayurveda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <h1  class="header__h1">
           <a href="/" class="header__a">AYURVEDA</a>
        </h1>

        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    &#128222; Contact us
                </li>
                <li>
                    &#9993; Our E-Mail
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>