<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayurveda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header"> 
        
        <h1  class="header__h1">
            <img src="images/ayurveda_3063202.png" class="ayu-item">
           <a href="/" class="header__a">AYURVEDA</a>
        </h1>
  <!-- nav bar -->
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="li1">
                    <a href="#about"> &#128222;</a>Contact us
                </li>
                <li class="li1">
                    <a href="#about">&#9993; </a>Our E-Mail
                </li>
                <li class="li1">
                    <a href="#about">About</a>
                </li>
                <li class="li1">
                    <a href="#services">Services</a>
                </li>
                <div class="search">
                    <input type="text" placeholder="Search" spellcheck="false">
                    <button class="button"><img src="images/search.png"></button>
                  </div>

                
            </ul> 
        </nav>
       
    </header>
    

    <main class="main">
        <!-- adding image -->
        <figure class="main__fig">
            <img src="img_1_bg.png" alt="Background Image" width="858" height="515" class="main__img" id="img__1">
        </figure>

    <article class="article">  
    <section class="Section1">
        <div class="div2">
        <h2>
        Body parts
        </h2>
        <ul>
            <li class="li2">
                <a href="" class="a__2">Eyes</a>
            </li>
            <li class="li2">
                <a href="" class="a__2">Nose</a>
            </li>
            <li class="li2">
                 <a href="" class="a__2">Toungue</a>
            </li>
            <li class="li2">
                <a href="" class="a__2">Ears</a>
            </li>
            <li class="li2">
                <a href="" class="a__2">Skin</a>
            </li>
        </ul>
    </div>
    </section>

    <section class="section2">
       <div class="div1">
        <h2>About Ayurveda</h2>
        <p>
            Ayurveda is an ancient holistic system of medicine that originated in India over 5,000 years ago. Rooted in the belief that health is a harmonious balance between the body, mind, and spirit, Ayurveda offers a comprehensive approach to well-being.
        </p>
        <h2>Types of ayurveda</h2>
        <p>Central to Ayurveda are the three doshas: Vata, Pitta, and Kapha, which represent different combinations of the five elements (earth, water, fire, air, and ether) and govern individual constitution and health. Ayurvedic practitioners diagnose imbalances in these doshas to understand the root causes of health issues.
        </p>
        <h2>Treatments</h2>
        <p>Ayurvedic treatments encompass a wide range of therapies, including herbal medicine, diet and nutrition, yoga, meditation, detoxification, and lifestyle adjustments. The goal is to restore balance, prevent illness, and promote longevity.
        </p>
        <h2>Recognition of Ayurveda</h2>
        <p>Ayurveda emphasizes individualized care, recognizing that each person's constitution and imbalances are unique. It has gained recognition worldwide for its holistic approach to health, stress reduction, and promotion of overall well-being, offering valuable insights into achieving a state of vibrant health</p>
    </div>
    </section>
</article>
</main>
</body>
</html>