<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mustafa">
    <link rel="stylesheet" href="search.css">
    <link rel="icon" href="images/icon.png">
    <title>SearchPanel</title>
</head>
<body>
    <h1>
        <figure>
            <img src="images/search.png">Search Results:-
        </figure>
    </h1>
    <section>
    <h2>
        Heading:
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ab dolor velit dicta, molestiae commodi esse facere pariatur, mollitia ducimus earum natus voluptates, cum ullam sint fugit nemo animi expedita.
    </p>
    </section>
</body>
</html>