<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mustafa">
    <title>Service</title>
    <link rel="icon" href="images/icon.png">
</head>
<body>
    <h1>This page contains our Vision</h1>
    <style>
body
{
    background-image: url("images/Bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #464646;
    backface-visibility: 70%;
    font-weight: 800;
}
h1
{
    text-align: center;
}
    </style>
</body>
</html>